*{
  padding: 0;
  box-sizing: border-box;
}
.container{
  height: 500px;
  width: 1000px;
  background-color: lightgreen;
}
.sezione {
  margin-top: 20px;

}
.box{
  display:inline-block;
  position:relative;
}
.sconto{
  background-color: red;
  position: absolute;
  top:0;
  right:0;
}
